<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primer documento en HTML</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1> Clases de Productos Apple</h1>
    <ol>
        <li> Iphone</li>
        <li> Macbook </li>
        <img src="/images/img-macbook-pro-2019.jpg" alt = "foto macbook">
        <li> Apple Watch</li>
        <a href = "https://www.apple.com/"> Ir a Apple</a>
    </ol>

    <h1> Clases de Productos Samsung</h1>

    <ol>
        <li> Galaxy S20</li>
        <li> Smart TV</li>
        <img src = "/images/img-samsung-galaxy-s10.jpg" alt = "Foto TV">
        <li> Galaxy Watch</li>
        <a href = "https://shop.samsung.com"> Ir a Samsung</a>


    </ol>

    
</body>
</html>